
:root {
  --naranja: #ff7a00;
  --azul: #005f99;
  --gris-claro: #f5f5f5;
  --gris-oscuro: #333;
}
/* Estilos generales para el cuerpo y el contenedor principal */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    background-color: var(--naranja);
    padding: 10px 20px;
    border-radius: 10px;
}

/* Estilos para la tabla de ventas */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
    
}

/* Estilos para filas alternadas */
.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilos para mensajes de carga */
#tabla-ventas td {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #888;
}
